<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--  将目标对象交给 IOC 容器  -->
    <bean id="accountService" class="com.impl.service.com.ajie.AccountServiceImpl"/>
    <!--  将通知对象交给 IOC 容器  -->
    <bean id="myAdvice" class="com.ajie.advice.MyAdvice"/>

    <!--  配置通知的类型  -->
    <aop:config>
        <!-- 抽取切点表达式 -->
        <aop:pointcut id="myPointcut" expression="execution(* com.ajie.service..*.*(..))"/>
        <!--引入通知类-->
        <aop:aspect ref="myAdvice">
            <!-- 配置目标类的transfer方法执行时，使用通知类的before方法进行前置增强 -->
            <aop:before method="before" pointcut-ref="myPointcut"/>
            <aop:after method="after" pointcut-ref="myPointcut"/>
        </aop:aspect>
    </aop:config>
</beans>